search:
	- in: %appDir%
		classes:
			- App\**UseCase\*
			- App\**RepositoryAccessor


services:
	# need to manually add RepositoryAccessor
	# search above didn't worked
	- App\Domain\Calendar\RepositoryAccessor
	- App\Forms\StartDate::create
	- App\RouterFactory::create
